@charset "ISO-8859-1";

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	margin-top:150px;
}

.card-header {
	color: blue;
	font-weight: bold;
	font-size: large;
}

.card-footer {
	text-align: right;
	background-color: #d4d4d4;
}
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}
